
*{
    /* outline: 2px solid black; */

}

#top{
    font-family: 'Roboto', sans-serif;
    color: white;
    /* border: 4px black; */
    background: #1F2937;
    height: 450px;
}

#header{
    display:flex;
    flex-direction: row;
    flex: 1 1 auto;
    justify-content: space-between;
    /* border: 2px solid black; */


    
}

#header-bold{
    /* border: 4px solid white; */
    /* background: black; */
    text-align: center;
    font-weight: bold;
    font-size: 24px;
    height: 40px;
    padding: 15px 150px;
    white-space: nowrap;

    /* border: 2px solid black; */

    
}
#header-links{
    padding: 15px 150px;
    display: flex;
    gap: 25px;
    /* border: 2px solid black; */

}
.header-item{    
    justify-content: center;
    /* border: 4px solid white;
    background: black; */
    text-align: center;
    height: 40px;
    width: 150px;
    /* border: 2px solid black; */


}

#main{
    display:flex;
    justify-content: center;
    flex-direction: row;
    /* background: black; */
    gap: 40px;
    /* border: 2px solid black; */

}

#title{
    height: 250px;
    width: 500px;
    /* border: 1px solid black; */
    /* background: blue; */
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items:left;
    gap: 15px;
}
#image{
    background:grey;
    height: 200px;
    width: 500px;
    margin: 35px 0px 0px 0px;
    /* border: 1px solid black; */
    display: flex;
    justify-content: center; 
    align-items: center;     
}
#website{
    /* border: 2px solid black; */
    font-weight: 650;
    font-size: 48px;
}
#web-subtext{
    /* border: 2px solid black; */
}
#btn1 {
    padding: 10px 15px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    width: 100px;
    background: #3882F6;
    border: 0px;
    border-radius: 5px;
    /* border: 2px solid black; */

}

#middle{
    font-family: 'Roboto', sans-serif;
    display:flex;
    flex-direction: column; 
    
    /* border: 2px solid black; */

}
#middle-title{
    color:#1F2937;
    font-weight: 800;
    font-size: 28px;
    text-align: center;
    margin: 35px 15px;
    /* border: 2px solid black; */

}
#boxes{
    margin: 35px 35px 10px 35px;
    display:flex;
    justify-content: center;
    gap: 20px;
    /* border: 2px solid black; */

}
.box{
    border-radius: 10px;
    height: 160px;
    width: 160px;
    border: 4px solid #3882F6;
}
#box-texts{
    margin: 0px 35px;
    display:flex;
    justify-content: center;
    text-align:center;
    gap: 50px;
    /* border: 2px solid black; */

}
.box-text{
    font-size:13px;
    font-weight:normal;
    height: 60px;
    width: 133px;
    /* border: 2px solid black; */
}

#quote{
    font-style: italic;
    padding: 160px 150px 0px 150px;
    width:540px;
    height: 120px;
    font-weight: 100;
    font-size: 22px;
    text-align: left;
    margin: 0 auto;
}
#author{
    width:600px;
    font-size:16px;
    font-weight: 800;
    text-align: right;
    margin: 0 auto;

}
#block{
    margin: 160px auto 0px auto;
    background: #3882F6;
    height: 120px;
    width: 1000px;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;

}

#block-text{
    padding: 10px 30px;
    color: white;
    text-align: left;
    display:flex;
    justify-content: center;
    flex-direction: column;
    height: 100px;
    width: 500px;


    
}
#block-title{
    font-size: 24px;
    font-weight: bold;
}
#block-subtitle{
    font-size: 16px;
    font-weight: normal;

}
#btn2{
    border-radius: 10px;
    color: white;
    font-size: 16px;
    border: 3px solid white;
    padding: 0px 20px;
    background: #3882F6;
    display: flex;
    justify-content: center;
    align-items:center;
    height: 40px;
    margin: 44px 0px 0px 0px;

}
#bottom{
    color: white;
    margin: 50px 0px 0px 0px;
    background:#1F2937; 
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items:center;
}